.body-login {
  align-items: center;
  background-color: rgb(51, 65, 51);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-container {
  align-items: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 3px 2px black;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 300px;
}

.login-title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  gap: 15px;
}

.logo {
  width: 100px;
}

.login-input {
  border-radius: 5px;
  font-size: 1.1em;
  margin: 3px;
  padding: 3px;
}

.login-button {
  background-color: rgb(46, 95, 46);
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
  height: 50px;
  margin: 20px;
  width: 200px;
}

.login-button:disabled {
  background-color: rgb(177, 168, 168);
}
